################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeLouisvilleConsole/.vs/CodeLouisvilleConsole/v15/Server/sqlite3/db.lock
/CodeLouisvilleConsole/.vs/CodeLouisvilleConsole/v15/.suo
/~WRL1668.tmp
/~$deLouisvilleConsole-Demo Steps.docx
