################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeLouisvilleConsole/.vs/CodeLouisvilleConsole/v15/Server/sqlite3/db.lock
/CodeLouisvilleConsole/.vs/CodeLouisvilleConsole/v15/.suo
/~WRL1668.tmp
/~$deLouisvilleConsole-Demo Steps.docx
/ASPNETMVCEntityFramework/.vs/ASPNETMVCEntityFramework/v15/Server/sqlite3
*.suo
/ASPNETMVCEntityFramework/.vs/config
/ASPNETMVCEntityFramework/ASPNETMVCEntityFramework/bin
/ASPNETMVCEntityFramework/ASPNETMVCEntityFramework/obj/Debug
/ASPNETMVCEntityFramework/packages
/ASPNETMVCEntityFramework/ASPNETMVCEntityFramework.v3.ncrunchsolution.user
